* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-color: rgb(255, 255, 248);
}

header {
  /* height: 700px; */
  background-color: #fdfff0;
}

.nav-bar {
  height: 70px;
  width: 100%;
  display: flex;
  max-width: 1560px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
  background-color: #40b9fb;
}

.logo h2 {
  font-size: 40px;
  font-family: Matteo Karson Demo;
  color: rgb(220, 13, 75);
}

ul.nav-menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 15px;
  font-weight: 400;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box i {
  color: black;
}

.box {
  width: 250px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #ababab;
}

.sec {
  width: 100%;
  height: 440px;
  background-color: #40b9fb;
}

.first {
  display: flex;
  gap: 20px;
  align-items: center;
}
section .info {
  flex: 1;
  padding: 40px;
}

.image-1 {
  flex: 1;
}
.first img {
  width: 400px;
  height: 400px;
}

.first h1 {
  font-size: 100px;
  font-family: Chronicle display;
}

.first .rectangle {
  width: 150px;
  height: 20px;
  background-color: rgb(184, 3, 3);
  border-radius: 30px;
  margin-top: 10px;
}

.first .rectangle p {
  text-align: center;
  color: white;
}

.second {
  text-align: center;
}
.second .rectangle {
  width: 180px;
  height: 25px;
  border-radius: 30px;
  background-color: #0b5dd8;
  margin: 5px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .image-2 {
  flex: 1;
}

.sec-1 .info {
  flex: 1;
  padding: 50px;
}

.sec-1 img {
  width: 600px;
  height: 600px;
}

.sec-1 h1 {
  font-family: housttely signature;
  font-size: 100px;
}

.sec-2 {
  width: 100%;
  /* height: 440px; */
  background-color: #40b9fb;
  padding: 30px;
}

.sec-2 .menu {
  max-width: 800px;
  margin: 0 auto;
}

.menu {
  text-align: center;
}
.menu h1 {
  font-size: 50px;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
}

/* .sec-2 .image-3 {
  width: 600px;
  height: 600px;
}*/

.sec-2 img {
  width: 300px;
  height: 300px;
}

.text-img {
  text-align: center;
}

.content .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* line-height: 0; */
  padding: 0;
  margin: 0;
}

.info .price {
  font-weight: bolder;
  font-size: 30px;
}

.sec-2 .para {
  font-size: 30px;
  font-weight: bold;
}

.sec-3 {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sec-3 img {
  height: 600px;
  width: 600px;
}

.sec-3 .info {
  margin: 0;
  padding: 0;
}
.sec-3 .para {
  font-size: 30px;
  font-weight: bold;
}
